* {
  margin: 0;
  padding: 0;
}

:root {
  --primary-text-color: #a5afc9;
  --main-bg-color: #0f1117;
  --header-color: white;
  --exam-header-color: #9acb32;
  --button-bg-color: #403173;
  --button-fg-color: var(--primary-text-color);
  --question-container-bg: #131b29;
  --question-container-border: #1d2637;
  --bright-green: #4be574;
  --bright-pink: #f363ba;
  --light-blue: #517090;
}

body {
  font-family: "Roboto Mono", monospace;
  background-color: var(--main-bg-color);
  color: var(--primary-text-color);
  font-size: 16px;
}
